  <%= form_for @post, url: yield(:url) do |f| %>

   <p>
    <%= f.label :title, "タイトル" %>
    <%= f.text_field :title %>
    </p>

    <p>
     <%= f.label :content, "内容" %>
     <%= f.text_area :content %>
    </p>

    <p>
     <%= f.submit yield(:button) %>
    </p>

<% end %>